body {
  margin: 0;
  background: linear-gradient(180deg, #ffffff, #ffffff);
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .logo {
  margin-bottom: 15px;
  text-align: center;
}

.sidebar .menu-header {
  font-weight: bold;
  margin: 20px 0 10px;
  width: 100%;
  text-align: left;
  color: #666;
}

.sidebar .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.sidebar .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar .menu li {
  margin: 10px 0;
}


.sidebar .menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.sidebar .menu li a .icon {
  margin-right: 10px;
}

.sidebar .menu li a:hover {
  color: hwb(275 0% 49%); /* Text color on hover */
  background-color: #f0e4ff; /* Container background color on hover */
}

.content {
  flex: 1;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header .search-bar {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}

.chart-container-hr {
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: hsl(15, 100%, 94%);
  height: 300px;
  width: 700px;
}
.chart-container-bs {
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: hsl(190, 100%, 94%);
  height: 300px;
  width: 700px;
}

.chart-header-hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 5px 5px 0 0;
}

.chart-header-bs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #cee7f2;
  border-radius: 5px 5px 0 0;
}

.chart-title-hr {
  text-align: center;
  margin: 0;
  color: #cb4820;
  font-family: 'Montserrat', sans-serif; /* Example of using Google Font Montserrat */
  font-weight: 500; /* Adjust font weight as needed */
}

.chart-title-bs {
  text-align: center;
  margin: 0;
  color: #20accb;
  font-family: 'Montserrat', sans-serif; /* Example of using Google Font Montserrat */
  font-weight: 500; /* Adjust font weight as needed */
}

.graph-content {
  flex: 1;
}

.buttons-graph-container {
  display: flex;
}

.buttons-graph-container .timeframe-buttons {
  display: flex;
  padding: 6px;
  flex-direction: column; /* Display buttons vertically */
  font-size: 9px; /* Adjust font size for buttons within list items */

}

.buttons-graph-container .graph-content {
  flex: 1; /* Take up remaining space */
}

.timeframe-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.timeframe-buttons li {
  margin-bottom: 10px; /* Adjust the vertical spacing between buttons */
}

button {
  margin-bottom: 10px; /* Add margin between buttons */
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 4px 8px; /* Adjust padding for smaller size */
  font-size: 12px; /* Reduce font size */
  transition: background-color 0.3s; /* Smooth transition effect */
}

button:last-child {
  margin-right: 0;
}

button:hover {
  background-color: #f0f0f0; /* Change background color on hover to grey */
}

/* Customizing the line colors in the chart */
.chart-container.heart .graph-content .chartjs-render-monitor {
  --primary-color: #ff5722;
}

.chart-container.blood-sugar .graph-content .chartjs-render-monitor {
  --primary-color: #1976d2;
}

/* Removing vertical grid lines in the chart */
.chart-container .graph-content .chartjs-render-monitor .chart-grid {
  --line-color: transparent;
}


.report-image-small {
  max-width: 90%; /* Ensure the image does not exceed its container width */
  height: auto; /* Maintain aspect ratio */
  max-height: 200%; /* Example: Set a maximum height */
}